@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

main {
    width: 80%;
    margin: 0 auto;
    background-color: aliceblue;
}

.header {
    margin: 0 auto;
    background-color: rgb(74, 156, 184);
}

.list {
    margin: 15px auto;
    display: flex;
    justify-content: center;
}

.articulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

img {
    height: 300px;
    width: 300px;

}

.nav {
    gap: 20px;
    list-style: none;
    padding: 10px;
    column-gap: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.banner {
    min-height: 80px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgb(149, 232, 253);
}

.footer {
    margin: 0 auto;
    background-color: rgb(74, 156, 184);
}

.footer-text {
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 10px;
}

@media (min-width: 768px) {
    .articulos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .nav {
        gap: 25px;
        list-style: none;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}